expose.row {
	background-image: url('./assets/splash.jpg');
	margin-bottom: 3em;
}

.jumbotron {
	margin: 0 auto;
	margin-top: 4em;
}

#landingJumbotron p {
	font-size: 100%;
}

.LoginWithAmazon {
	float: left;
}

#amazonButton:hover {
	cursor: pointer;
}
